body{
    background: url("https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200");
}
h1{
    background-color: #fe0033;
    color: white;
    text-align: center;
}

h2.es-rojo{
    color: red
}

span{
    font-weight: bold;
}

.principal{
    font-weight: bold;
}